<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCV.Win.Calib3D" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.Core" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.Features2D" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.FLANN" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.HighGUI" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.ImgCodecs" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.ImgProc" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.ML" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.VideoIO" version="310.6.1" targetFramework="native" />
</packages>