*.ipch
*.opensdf
*.sdf
*.obj
*.suo
*.tlog
*.log
*.idb
*.opendb
/Sharing/Src/bin
/Sharing/Src/tmp
/Sharing/Src/External/apriltag-2015-03-18/lib
/Sharing/Src/External/apriltag-2015-03-18/tmp
/Sharing/Src/External/curl-7.39.0/lib
/Sharing/Src/External/curl-7.39.0/Source/builds
/Sharing/Src/External/RakNet-4.081/lib
/Sharing/Src/External/RakNet-4.081/src/Lib
/Sharing/Src/External/zint-2.4.3/lib
/Sharing/Src/External/zint-2.4.3/src/build
/Sharing/Src/External/zint-2.4.3/src/tmp
/Sharing/Src/External/zxing-cpp/lib
/Sharing/Src/External/zxing-cpp/src/tmp
/Sharing/Src/External/speex-1.2rc1/lib
/Sharing/Src/GeneratedInterface
*.db
